__pycache__/
celerybeat-schedule.db
.idea/vcs.xml
.vscode/
.venv/
/app/image_processing_results.xlsx
/app/test-image
.DS_Store
.idea/misc.xml
.idea/pavement-identifier-backend.iml
.idea/modules.xml
app/.env
app/.env
